*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#fef5f5,#eff4fd);
}

.main-div{
    /* width: 30vw; */
    padding: 50px;
    background-color:rgb(255,255,255 );
    box-shadow: rgba(17,17,26,0.05)0px 1px 0px,
    rgba(17,17,26,0.1)0px 0px 8px;
}

.ac{
    text-align: center;
    font-family:"Bitter",serif;
    text-transform: capitalize;
    font-size:20px;
    
}
p.start {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    display: inline;
    border-radius: 25%;
    background-color: #eff4fd;
}

h3.start {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin: 12px;;
    display: inline-block;
    background-color: #eff4fd;
}